<p>Continuous Improvement board</p>

<!-- <div class="btn-group" role="group" aria-label="Basic example">
    <p>
        Search by:
        <button mdbBtn type="button" color="primary" outline="true" class="waves-light" mdbWavesEffect (click)="switchToFactory('nj')">NJ Status</button>
        <button mdbBtn type="button" color="primary" outline="true" class="waves-light" mdbWavesEffect (click)="switchToFactory('va')">VA status</button>
    </p>
</div> -->
<font size="5" face="calibri">
    <table border *ngIf="status_list" style="width: 100%;">
        <tr>
            <th>Ticket #</th>
            <th>Improvement Suggestions</th>
            <th>Requested Person</th>
            <th>Responsible person</th>
            <th>Action status</th>
            <th>Date added</th>
        </tr>
        <tr *ngFor="let items of status_list">
            <td style="text-align: center;">{{ items.ticket_num }}</td>
            <td style="text-align: center;">{{ items.suggestion }}</td>
            <td style="text-align: center;">{{ items.req_person }}</td>
            <td style="text-align: center;">{{ items.res_person }}</td>
            <td style="text-align: center;">{{ items.status }}</td>
            <td style="text-align: center;">{{ items.date_added }}</td>
        </tr>
    
    </table>
</font>

